<section class="content">
  <h2 class="content__title">Contenido</h2>
  <p class="content__text">
    Ejemplo del componente content
  </p>

  <div class="content__cards">
    <article class="card">
      <h3 class="card__title">Tarjeta 1</h3>
      <p class="card__text">Esto es tarjeta 1</p>
    </article>

    <article class="card">
      <h3 class="card__title">Tarjeta 2</h3>
      <p class="card__text">Esto es tarjeta 2</p>
    </article>

    <article class="card">
      <h3 class="card__title">Tarjeta 3</h3>
      <p class="card__text">Esto es tarjeta 3</p>
    </article>
  </div>
</section>
